<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/modelo :: modelo">
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<p>Ao passo que a configuração de infraestrutura e definição da
					arquitetura estão entre as etapas que mais consomem recursos
					durante o desenvolvimento de aplicações web com Java, emergiram
					iniciativas buscando mitigar questões dessa ordem. Nesse sentido, o
					Spring Boot provê o bootstrap e configuração automática, sempre que
					possível, de aplicações Spring standalone rodando em Apache Tomcat
					embarcado, além de suportar integração com uma gama diversa de
					ferramentas de mercado. Uma representação simplista de um cadastro
					de postagens em blog será usada como exemplo. Para inciar um
					projeto Spring Boot, acesse a página do Spring Initializr, defina
					as configurações de acordo com a Figura 1 e clique em “Generate
					Project”. Ao passo que a configuração de infraestrutura e definição
					da arquitetura estão entre as etapas que mais consomem recursos
					durante o desenvolvimento de aplicações web com Java, emergiram
					iniciativas buscando mitigar questões dessa ordem. Nesse sentido, o
					Spring Boot provê o bootstrap e configuração automática, sempre que
					possível, de aplicações Spring standalone rodando em Apache Tomcat
					embarcado, além de suportar integração com uma gama diversa de
					ferramentas de mercado. Uma representação simplista de um cadastro
					de postagens em blog será usada como exemplo. Para inciar um
					projeto Spring Boot, acesse a página do Spring Initializr, defina
					as configurações de acordo com a Figura 1 e clique em “Generate
					Project”.</p>
			</div>
			<div class="col-sm">
				<p>Ao passo que a configuração de infraestrutura e definição da
					arquitetura estão entre as etapas que mais consomem recursos
					durante o desenvolvimento de aplicações web com Java, emergiram
					iniciativas buscando mitigar questões dessa ordem. Nesse sentido, o
					Spring Boot provê o bootstrap e configuração automática, sempre que
					possível, de aplicações Spring standalone rodando em Apache Tomcat
					embarcado, além de suportar integração com uma gama diversa de
					ferramentas de mercado. Uma representação simplista de um cadastro
					de postagens em blog será usada como exemplo. Para inciar um
					projeto Spring Boot, acesse a página do Spring Initializr, defina
					as configurações de acordo com a Figura 1 e clique em “Generate
					Project”. Ao passo que a configuração de infraestrutura e definição
					da arquitetura estão entre as etapas que mais consomem recursos
					durante o desenvolvimento de aplicações web com Java, emergiram
					iniciativas buscando mitigar questões dessa ordem. Nesse sentido, o
					Spring Boot provê o bootstrap e configuração automática, sempre que
					possível, de aplicações Spring standalone rodando em Apache Tomcat
					embarcado, além de suportar integração com uma gama diversa de
					ferramentas de mercado. Uma representação simplista de um cadastro
					de postagens em blog será usada como exemplo. Para inciar um
					projeto Spring Boot, acesse a página do Spring Initializr, defina
					as configurações de acordo com a Figura 1 e clique em “Generate
					Project”.</p>
			</div>
			<div class="col-sm">
				<p>Ao passo que a configuração de infraestrutura e definição da
					arquitetura estão entre as etapas que mais consomem recursos
					durante o desenvolvimento de aplicações web com Java, emergiram
					iniciativas buscando mitigar questões dessa ordem. Nesse sentido, o
					Spring Boot provê o bootstrap e configuração automática, sempre que
					possível, de aplicações Spring standalone rodando em Apache Tomcat
					embarcado, além de suportar integração com uma gama diversa de
					ferramentas de mercado. Uma representação simplista de um cadastro
					de postagens em blog será usada como exemplo. Para inciar um
					projeto Spring Boot, acesse a página do Spring Initializr, defina
					as configurações de acordo com a Figura 1 e clique em “Generate
					Project”. Ao passo que a configuração de infraestrutura e definição
					da arquitetura estão entre as etapas que mais consomem recursos
					durante o desenvolvimento de aplicações web com Java, emergiram
					iniciativas buscando mitigar questões dessa ordem. Nesse sentido, o
					Spring Boot provê o bootstrap e configuração automática, sempre que
					possível, de aplicações Spring standalone rodando em Apache Tomcat
					embarcado, além de suportar integração com uma gama diversa de
					ferramentas de mercado. Uma representação simplista de um cadastro
					de postagens em blog será usada como exemplo. Para inciar um
					projeto Spring Boot, acesse a página do Spring Initializr, defina
					as configurações de acordo com a Figura 1 e clique em “Generate
					Project”.</p>
			</div>
		</div>
	</div>
</body>
</html>
